
<div class="modal" tabindex="-1" id="uploadFileModal" aria-labelledby="uploadFileModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Upload consumption data"</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="BufferedSingleFileUploadPhysical/?handler=Upload"
                      enctype="multipart/form-data" onsubmit="uploadFile(this);return false;" method="post">


                    <div class="text-center mt-0">
                        <label class="custom-file-upload">
                            <input id="FileUpload_FormFile" type="file" name="FileUpload.FormFile" />
                            Upload data
                        </label>
                    </div>
                    <div style="margin-top:15px">
                        <output name="result"></output>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <div id="uploadConfirmedbtnWrapper">
                    <button data-id=uploadConfirmedbtn type="button" class="btn btn-outline-dark text-dark" data-action="uploadConfirmed">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>