@using Newtonsoft.Json;
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @(Model.loggedInPerson.FirstName)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>

@{
    if (!Model.loggedInPerson.isRegisteredToService)
    {
        <h2>Please Register</h2>
    }
}
<!-- enctype ="multipart/form-data" = Encoding type that MUST be specified in HTML to enable file upload.    -->
<form asp-controller="Home" asp-action="FileUpload" enctype="multipart/form-data" method="post">
    <input type="file" name="file" />
    <button type="submit">Submit</button>
    <span>@TempData["msg"]</span>
</form>

 


<div id="appdata" data-obj="@JsonConvert.SerializeObject(Model.dayAHeadPriceData.DayAheadPrices)"></div>
<script type="text/javascript">
    const topicData = JSON.parse(document.getElementById('appdata').dataset.obj);
    console.log(topicData);
</script>

<div>Api result</div>

<div>@ViewData["ApiResult"]</div>
