@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @(Model.loggedInPerson.FirstName)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{ 
    if (!Model.loggedInPerson.isRegisteredToService)
    {
        <h2>Please Register</h2>
    }
}



<div>Api result</div>

<div>@ViewData["ApiResult"]</div>
