@using Newtonsoft.Json;
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @(Model.loggedInPerson.FirstName)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    if (!Model.loggedInPerson.isRegisteredToService)
    {
        <h2>Please Register</h2>
    }
}

<div id="appdata" data-obj="@JsonConvert.SerializeObject(Model.dayAHeadPriceData)"></div>

<script type="text/javascript">
    const topicData = JSON.parse(document.getElementById('appdata').dataset.obj);
    console.log(topicData);
</script>

<div>Api result</div>

<div>@ViewData["ApiResult"]</div>
