body {
    background-color: rgb(34, 33, 33);
    color: white;
}


.calc-wrapper {
    margin-bottom: 180px;
    z-index: 999;
}

.custom-file-upload {
    color: rgb(228, 228, 122);
    background-color: rgb(34, 33, 33);
    border: 1px solid rgb(245, 245, 81);
    border-radius: 3px;
    padding: 5px;
}

input[type="file"] {
    display: none;
}


/* #panel {
=======
.consumption {
    color:rgb(245, 245, 81);
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color:rgb(34, 33, 33);
    border:1px solid rgb(245, 245, 81);
    border-radius:3px;
}
.consumption:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
/* color: rgb(255, 255, 30);
    font-size: 20px;
    font: bold;
    float: right;
    margin-left: 5px;
  } */

/* .active:after {
    content: "\2796"; Unicode character for "minus" sign (-) */
/* color:yellow;
    
  } */
/*
  #panel {
    color:rgb(245, 245, 81);
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color:rgb(34, 33, 33);
    border:1px solid rgb(245, 245, 81);
    border-radius:3px;
  }  */



#washingMachine {
    color: white;
    margin-left: 4px;
}

.uploadDataBtn {
    border: 2px solid rgb(228, 228, 122);
    border-radius: 4px;
    padding: 0 1em 0 1em;
}



.navbar-nav .nav-item .nav-link {
    margin: 2rem;
}



.navbar-nav .nav-item .nav-link {
    border-bottom: 5px solid rgb(228, 228, 122);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}



#laundryMachine, #shower, #dishWasher, #sauna, #gamingConsole, #coffeeMachine, #saunaCost {
    border-radius:0px;
    outline: none;
    border: none;
    padding: 15px 0;
    font-size: 24px;
    text-align: center;
    background: transparent;
    color: white;
}



.icons {
    height: 24px;
    width: 24px;
}

.accordion {
    border-top:none;
}

/*.accordion-button collapsed {
    color: rgb(228, 228, 122);
}*/

.accordion-button:active {
    background-color: rgb(34, 33, 33);
    color: rgb(228, 228, 122);
}

.accordion-button:focus {

    box-shadow:none;
    border-color:rgba(0,0,0, .125);
}


.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e4e47a'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    color: rgb(228, 228, 122);
}




.accordion-button:not(.collapsed) {
    border:none;
    background-color: rgb(34, 33, 33);
    color: rgb(228, 228, 122);
}



.accordion-collapse {
    background-color: rgb(34, 33, 33);

}



.accordion-flush {
    border-top: 1px solid white;

}



.accordion-body {
    background-color: rgb(34, 33, 33);

}



.accordion-button {
    background-color: rgb(34, 33, 33);
    color: rgb(228, 228, 122);
   /* border: 1px solid rgb(228, 228, 122);*/

}



    .accordion-button:active {
        background-color: rgb(34, 33, 33);
        color: rgb(228, 228, 122);
        
    }



.accordion-header {
    background-color: transparent;
    color: rgb(228, 228, 122);
}




button.accordion-button.collapsed::after {
    background-color: rgb(34, 33, 33);
    color: rgb(228, 228, 122);
    font: bold;
}




.accordion-item {
    background-color: rgb(34, 33, 33);
    color: rgb(228, 228, 122);
    border-bottom:none;
}

#plus {
    display: inline-flexbox;
    height: 50px;
    width: 50px;
    padding: 6px 16px;
    font-size: 24px;
    font: bold;
    margin-right: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: rgb(34, 33, 33);
    background-color: rgb(245, 245, 81);
}



    #plus:active {
        background-color: rgb(169, 169, 55);
        box-shadow: 0 5px #666;
    }



#minus {
     height:50px;
    width:50px;
    display: inline-flexbox;
    padding: 6px 16px;
    font-size: 24px;
    font: bold;
    margin-left: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: rgb(34, 33, 33);
    background-color: rgb(245, 245, 81);
}



    #minus:active {
        background-color: rgb(169, 169, 55);
        box-shadow: 0 5px #666;
    }


.modal-content {
    background-color: rgb(34, 33, 33) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; /* <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

/*testi*/


/* .consumption {
    color:rgb(245, 245, 81);
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color:rgb(34, 33, 33);
    border:1px solid rgb(245, 245, 81);
    border-radius:3px;
}

.consumption:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
/* color: rgb(255, 255, 30);
    font-size: 20px;
    font: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
/* color:yellow; */




/* } */
@media only screen and (min-width: 1200px) {

<<<<<<< HEAD
=======



@media only screen and (min-width: 768px) {
>>>>>>> 45191640dfcc6c953fd07c17ad8e078d94a79c5a


    .lineSvg {
        width: 100em;
        height: 1.5em;
    }



    .calc-wrapper {
        width: 60% !important;
        margin-left: 20%;
    }
}
<<<<<<< HEAD
=======

}



>>>>>>> 45191640dfcc6c953fd07c17ad8e078d94a79c5a
