body {
    background-color: rgb(34, 33, 33);
    color:white;
}

.chartSpace {
    
    max-width:500px;
    
}


.uploadDataBtn {
   
    color:rgb(228, 228, 122);
    background-color:rgb(34, 33, 33);
    border:2px solid rgb(228, 228, 122);
    border-radius:4px;
    padding: 0 1em 0 1em;
  
   
}


.navbar-nav .nav-item .nav-link {
    margin: 2rem;
}

.navbar-nav .nav-item .nav-link{
   border-bottom: 5px solid rgb(228, 228, 122);
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
  
    
}

